@font-face {
  font-family: LittleSunshine;
  src: url('/fonts/little-sunshine/little_sunshine.ttf');
}

@font-face {
  font-family: Lean;
  src: url('/fonts/lean/leaning.ttf');
}

@font-face {
  font-family: SketchMatch;
  src: url('/fonts/sketch-match/sketch-match.ttf');
}

@font-face {
  font-family: OpenSans;
  src: url('/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 100;
  src: url('/fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 100;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 200;
  src: url('/fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 200;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 500;
  src: url('/fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 500;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-SemiboldItalic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  src: url('/fonts/open-sans/OpenSans-Semibold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-SemiboldItalic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url('/fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 800;
  src: url('/fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 800;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 900;
  src: url('/fonts/open-sans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: OpenSans;
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/open-sans/OpenSans-ExtraBoldItalic.ttf');
}