$video-background-color: #000;
$transparent: rgba(255, 255, 255, 0);
$websockets-green: #69AB45;
$websockets-orange: #F2AD24;
$light-grey: #ecf0f5;
$flatui-green: #1abc9c;
$flatui-error: rgb(231, 76, 60);
$flatui-dark: rgb(52, 73, 94);
$flatui-clouds: #ecf0f1;
$flatui-alizarin: #e74c3c;

@import 'mixins';
@import 'animate';
@import 'fonts';

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  background-color: $video-background-color;
}

.navbar {
  &.navbar-transparent {
    background-color: rgba(255, 255, 255, 0);
  }
  &.navbar-green {
    background-color: $flatui-green;
  }
  ul {
    li.dropdown {
      background-color: $flatui-dark;
    }
  }
  .navbar-nav > li > .dropdown-menu {
    li {
      background-color: $flatui-dark;
      a {
        color: $flatui-green;
        font-size: 16px;
      }
    }
    margin-top: 0;
  }
  .settings {
    font-size: 43px;
  }
  min-height: 80px;
}

video {
  display: block;
  margin: auto;
  width: 90%;
  background: $video-background-color;
  @include animate(zoomIn, 1s);
  @include respond-to(handhelds) {
    margin-top: 35%;
    width: 100%;
  }
  @include respond-to(medium-screens) {
    width: 100%;
  }
  @include respond-to(wide) {
    width: 100%;
  }
}

.navbar {
  img.navbar-logo {
    width: 20%;
    margin-left: 0;
    @include respond-to(handhelds) {
      width: 35%;
      margin: 23px auto auto;
    }
    @include respond-to(medium-screens) {
      margin-left: 0;
    }
  }
}

.overlay-logo {
  position: absolute;
  top: 35%;
  width: 100%;

  img {
    margin: auto;
    width: 55%;
    display: block;
    @include animate(zoomIn, 1s);
  }
}

#impress {
  pointer-events: auto;
  color: white;
}

.step {
  &:not(.active) {
    opacity: 0.3;
  }
  h3 {
    font-family: Lean, serif !important;

    footer {
      font-size: 30px;
      color: $websockets-orange;
      background-color: transparent;
      font-family: OpenSans, serif;
      font-weight: 100;
      display: inline;
    }
  }
  .text-orange {
    color: $websockets-orange;
  }
  .text-green {
    color: $websockets-green;
  }
  width: 900px;
  padding: 40px;
  font-size: 48px;
  font-family: Lean, serif !important;
  font-weight: 200 !important;
  line-height: 1.5;
  @include box-sizing(border-box);
  @include transition(opacity 1s);
}

#statement {
  h1 {
    font-family: SketchMatch, OpenSans, serif !important;
    font-size: 90px;
  }
}

#overview {
  z-index: -1;
  padding: 0;
}

.loading {
  & > div {
    width: 266px;
    margin: 0 auto;
    div {
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
      font-weight: 800;
      color: $websockets-green;
    }
  }
}

.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: OpenSans, monospace;
  font-weight: 300;
  color: rgb(102, 102, 102);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  q {
    display: block;
    font-size: 50px;
    line-height: 72px;
    margin-top: 100px;
    strong {
      white-space: nowrap;
    }
  }
}

.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  display: none;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border-radius: 10px;
  border: 1px solid #E4C652;
  background: #EEDC94;
  p {
    margin-bottom: 10px;
  }
}

.login-container {
  .centred {
    &:before {
      content: '';
      border: 16px solid;
      position: absolute;
      border-color: transparent transparent $light-grey transparent;
      margin-top: -55px;
    }
    .form-group {
      &.error input {
        border: 2px solid $flatui-error;
      }
      .form-control {
        &:focus {
          border: 2px solid $flatui-green;
        }
        border: none;
      }
      .text-danger {
        font-size: 15px;
        font-weight: 300;
      }
    }
    .alert-danger {
      border: none;
      font-weight: 300;
      font-size: 15px;
      border-radius: 6px;
    }
    .login-message {
      position: absolute;
      margin-left: -35px;
      margin-top: -120px;
      img {
        width: 180px;
      }
    }
    width: 355px;
    margin: 16% auto 0;
    background-color: $light-grey;
    padding: 23px;
    border-radius: 6px;
  }
}

.btn-primary {
  &:focus {
    &:active {
      background: #16a085;
      border-color: #16a085;
    }
  }
}

.admin-container {
  .form-horizontal {
    padding: 0 15px;
  }
  .showing {
    background: url('/images/browser.png') no-repeat;
    background-size: 100% 50px;
    padding-top: 50px;
  }
  .select-box {
    &:before {
      top: 9px;
      font-size: 25px;
      position: absolute;
    }
    select {
      width: 93%;
      border: none;
      margin-left: 30px;
      display: inline-block;
    }
    border-radius: 5px;
    padding: 0 0 0 10px;
    border: 2px solid #D7DBDD;
  }
  video {
    width: 100%;
    height: 368px;
    background: #34495e;
    border-radius: 0 0 6px 6px;
  }
  .tile {
    h1 {
      font-size: 112px;
    }
    .tile-title {
      font-size: 30px;
    }
    &.tile-red {
      background-color: #e74c3c;
      color: #eff0f2;
    }
    &.tile-green {
      background-color: #1abc9c;
      color: #eff0f2;
    }
  }
  margin-top: 130px;
}

.btn {
  &.btn-lg-circle {
    border-radius: 50%;
    font-size: 50px;
    padding: 13px 16px 0 19px;
  }
  &.btn-play {
    position: absolute;
    top: 45%;
    left: 45%;
  }
}

.progress {
  &.p-xm {
    height: 2px;
  }
  .bar {
    height: 20px;
    background-color: $flatui-green;
    @include box-shadow(none !important);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  height: 20px;
}

.container {
  .container-error {
    background: $flatui-clouds;
  }
  .content-center {
    width: 400px;
    margin: auto;
  }
  .centered {
    &.wd-50 {
      width: 50%;
      min-width: 400px;
    }
    h5 {
      font-weight: 200;
      text-align: center;
    }
    h6 {
      font-weight: 200;
      text-align: center;
      line-height: 30px;
      font-size: 22px;
    }
    width: 40%;
    margin: 16% auto 0;
    padding: 23px;
    border-radius: 6px;
  }
  .text-white {
    color: #fff;
  }
}

.big-icon {
  font-size: 80px;
  margin: 40%;
  color: $flatui-alizarin;
}

.tmargin-25 {
  margin-top: -25px;
}

.supported-browsers {
  img {
    &:hover {
      -webkit-animation: pulse 0.5s;
      -moz-animation: pulse 0.5s;
      -o-animation: pulse 0.5s;
      animation: pulse 0.5s;
    }
    width: 23%;
    margin-left: 5%;
  }

}

.lead {
  line-height: 2.464286;
  border-bottom: 1px dotted #34495E;
  margin-top: 20px;
}