extends ../base

block content
    div(ui-view='')
block scripts
    script(src='/js/lib/socket.io.js')
    script(src='/js/modules/socket.js')
    script(src='/js/modules/config.js')
    script(src='/js/app/users.js')
    script(src='/js/routes/users.js')
    script(src='/js/modules/client.js')

