@charset "UTF-8";

@font-face {
  font-family: "websockets";
  src:url("fonts/websockets.eot");
  src:url("fonts/websockets.eot?#iefix") format("embedded-opentype"),
    url("fonts/websockets.woff") format("woff"),
    url("fonts/websockets.ttf") format("truetype"),
    url("fonts/websockets.svg#websockets") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "websockets" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "websockets" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach:before {
  content: "a";
}
.icon-arrow-left:before {
  content: "b";
}
.icon-arrow-right:before {
  content: "c";
}
.icon-brush:before {
  content: "d";
}
.icon-arrow-up-alt1:before {
  content: "e";
}
.icon-arrow-down-alt1:before {
  content: "f";
}
.icon-calendar-alt-stroke:before {
  content: "g";
}
.icon-calendar-alt-fill:before {
  content: "h";
}
.icon-camera:before {
  content: "i";
}
.icon-cd:before {
  content: "j";
}
.icon-chat-alt-fill:before {
  content: "k";
}
.icon-chat:before {
  content: "l";
}
.icon-chat-alt-stroke:before {
  content: "m";
}
.icon-check:before {
  content: "n";
}
.icon-cog:before {
  content: "o";
}
.icon-check-alt:before {
  content: "p";
}
.icon-equalizer:before {
  content: "q";
}
.icon-fullscreen:before {
  content: "r";
}
.icon-fullscreen-alt:before {
  content: "s";
}
.icon-fullscreen-exit:before {
  content: "t";
}
.icon-hash:before {
  content: "u";
}
.icon-curved-arrow:before {
  content: "v";
}
.icon-denied:before {
  content: "w";
}
.icon-document-fill:before {
  content: "x";
}
.icon-document-alt-fill:before {
  content: "y";
}
.icon-document-alt-stroke:before {
  content: "z";
}
.icon-comment-stroke:before {
  content: "A";
}
.icon-comment-fill:before {
  content: "B";
}
.icon-comment-alt2-fill:before {
  content: "C";
}
.icon-comment-alt2-stroke:before {
  content: "D";
}
.icon-compass:before {
  content: "E";
}
.icon-first:before {
  content: "F";
}
.icon-key-fill:before {
  content: "G";
}
.icon-key-stroke:before {
  content: "H";
}
.icon-info:before {
  content: "I";
}
.icon-left-quote:before {
  content: "J";
}
.icon-loop:before {
  content: "K";
}
.icon-lock-fill:before {
  content: "L";
}
.icon-lock-stroke:before {
  content: "M";
}
.icon-loop-alt2:before {
  content: "N";
}
.icon-loop-alt3:before {
  content: "O";
}
.icon-magnifying-glass:before {
  content: "P";
}
.icon-mic:before {
  content: "Q";
}
.icon-at:before {
  content: "R";
}
.icon-arrow-right-1:before {
  content: "S";
}
.icon-arrow-left-1:before {
  content: "T";
}
.icon-arrow-down:before {
  content: "U";
}
.icon-arrow-up:before {
  content: "V";
}
.icon-chevron-left:before {
  content: "W";
}
.icon-chevron-right:before {
  content: "X";
}
.icon-chevron-up:before {
  content: "Y";
}
.icon-chevron-down:before {
  content: "Z";
}
.icon-check-1:before {
  content: "0";
}
.icon-camera-1:before {
  content: "1";
}
.icon-calendar:before {
  content: "2";
}
.icon-cloud:before {
  content: "3";
}
.icon-cloud-upload:before {
  content: "4";
}
.icon-cloud-download:before {
  content: "5";
}
.icon-display-screen:before {
  content: "6";
}
.icon-file-close-alt:before {
  content: "7";
}
.icon-heart:before {
  content: "8";
}
.icon-hourglass:before {
  content: "9";
}
.icon-eye:before {
  content: "!";
}
.icon-link:before {
  content: "\"";
}
.icon-lock-alt:before {
  content: "#";
}
.icon-lock:before {
  content: "$";
}
.icon-magnifying:before {
  content: "%";
}
.icon-magnifying-minus:before {
  content: "&";
}
.icon-magnifying-plus:before {
  content: "'";
}
.icon-mail:before {
  content: "(";
}
.icon-mute-off:before {
  content: ")";
}
.icon-mute-on:before {
  content: "*";
}
.icon-movie:before {
  content: "+";
}
.icon-message:before {
  content: ",";
}
.icon-paperplane-ico:before {
  content: "-";
}
.icon-placepin:before {
  content: ".";
}
.icon-plus:before {
  content: "/";
}
.icon-reorder:before {
  content: ":";
}
.icon-reorder-square:before {
  content: ";";
}
.icon-reorder-square-line:before {
  content: "<";
}
.icon-reply:before {
  content: "=";
}
.icon-star:before {
  content: ">";
}
.icon-star-empty:before {
  content: "?";
}
.icon-star-half:before {
  content: "@";
}
.icon-star-half-empty:before {
  content: "[";
}
.icon-ringbell:before {
  content: "]";
}
.icon-settings:before {
  content: "^";
}
.icon-retweet:before {
  content: "_";
}
.icon-smartphone:before {
  content: "`";
}
.icon-stopwatch:before {
  content: "{";
}
.icon-unlock:before {
  content: "|";
}
.icon-unlock-alt:before {
  content: "}";
}
.icon-video-camera:before {
  content: "~";
}
.icon-user-male:before {
  content: "\\";
}
.icon-user-female:before {
  content: "\e000";
}
.icon-user:before {
  content: "\e001";
}
.icon-pin:before {
  content: "\e002";
}
.icon-search:before {
  content: "\e003";
}
.icon-video:before {
  content: "\e004";
}
.icon-sound:before {
  content: "\e005";
}
.icon-music:before {
  content: "\e006";
}
.icon-megaphone:before {
  content: "\e007";
}
.icon-news:before {
  content: "\e008";
}
.icon-note:before {
  content: "\e009";
}
.icon-params:before {
  content: "\e00a";
}
.icon-trash:before {
  content: "\e00b";
}
.icon-tv:before {
  content: "\e00c";
}
.icon-key:before {
  content: "\e00d";
}
.icon-heart-1:before {
  content: "\e00e";
}
.icon-clip:before {
  content: "\e00f";
}
.icon-camera-2:before {
  content: "\e010";
}
.icon-bulb:before {
  content: "\e011";
}
.icon-bubble:before {
  content: "\e012";
}
.icon-location:before {
  content: "\e013";
}
.icon-settings-1:before {
  content: "\e014";
}
.icon-paperplane:before {
  content: "\e015";
}
.icon-tag:before {
  content: "\e016";
}
.icon-t-shirt:before {
  content: "\e017";
}
.icon-star-1:before {
  content: "\e018";
}
.icon-study:before {
  content: "\e019";
}
.icon-display:before {
  content: "\e01a";
}
.icon-eye-1:before {
  content: "\e01b";
}
.icon-cloud-1:before {
  content: "\e01c";
}
.icon-data:before {
  content: "\e01d";
}
.icon-pin-alt:before {
  content: "\e01e";
}
.icon-baidu:before {
  content: "\e01f";
}
.icon-facebook-alt:before {
  content: "\e020";
}
.icon-facebook:before {
  content: "\e021";
}
.icon-google:before {
  content: "\e022";
}
.icon-linkedin-alt:before {
  content: "\e023";
}
.icon-linkedin:before {
  content: "\e024";
}
.icon-windows:before {
  content: "\e025";
}
.icon-apple:before {
  content: "\e026";
}
.icon-youtube:before {
  content: "\e027";
}
.icon-youtube-alt:before {
  content: "\e028";
}
.icon-speaker:before {
  content: "\e029";
}
.icon-speaker-off:before {
  content: "\e02a";
}
.icon-tw:before {
  content: "\e02b";
}
.icon-smart-phone:before {
  content: "\e02c";
}
.icon-call-2:before {
  content: "\e02d";
}
.icon-folder:before {
  content: "\e02e";
}
.icon-mail-1:before {
  content: "\e02f";
}
.icon-comment:before {
  content: "\e030";
}
.icon-comment-discussion:before {
  content: "\e031";
}
.icon-credit-card:before {
  content: "\e032";
}
.icon-device-camera:before {
  content: "\e033";
}
.icon-device-mobile:before {
  content: "\e034";
}
.icon-device-desktop:before {
  content: "\e035";
}
.icon-globe:before {
  content: "\e036";
}
.icon-file-zip:before {
  content: "\e037";
}
.icon-file-text:before {
  content: "\e038";
}
.icon-gear:before {
  content: "\e039";
}
.icon-key-1:before {
  content: "\e03a";
}
.icon-mute:before {
  content: "\e03b";
}
.icon-playback-play:before {
  content: "\e03c";
}
.icon-playback-pause:before {
  content: "\e03d";
}
.icon-playback-rewind:before {
  content: "\e03e";
}
.icon-playback-fast-forward:before {
  content: "\e03f";
}
.icon-primitive-dot:before {
  content: "\e040";
}
.icon-primitive-square:before {
  content: "\e041";
}
.icon-megaphone-1:before {
  content: "\e042";
}
.icon-sign-out:before {
  content: "\e043";
}
.icon-sign-in:before {
  content: "\e044";
}
.icon-sync:before {
  content: "\e045";
}
.icon-unmute:before {
  content: "\e046";
}
.icon-x:before {
  content: "\e047";
}
.icon-three-bars:before {
  content: "\e048";
}
.icon-controls-stop:before {
  content: "\e049";
}
.icon-controls-play:before {
  content: "\e04a";
}
.icon-controls-pause:before {
  content: "\e04b";
}
.icon-controls-fast-forward:before {
  content: "\e04c";
}
.icon-controls-chapter-previous:before {
  content: "\e04d";
}
.icon-controls-chapter-next:before {
  content: "\e04e";
}
.icon-controls-rewind:before {
  content: "\e04f";
}
.icon-controls-play-back:before {
  content: "\e050";
}
.icon-cooler:before {
  content: "\e051";
}
.icon-floppy-disk:before {
  content: "\e052";
}
.icon-image:before {
  content: "\e053";
}
.icon-pin-1:before {
  content: "\e054";
}
.icon-phone-classic-on:before {
  content: "\e055";
}
.icon-security-open:before {
  content: "\e056";
}
.icon-security-closed:before {
  content: "\e057";
}
.icon-screen-4to3:before {
  content: "\e058";
}
.icon-screen-16to9:before {
  content: "\e059";
}
.icon-speaker-louder:before {
  content: "\e05a";
}
.icon-speaker-silent:before {
  content: "\e05b";
}
.icon-video-1:before {
  content: "\e05c";
}
.icon-video-accept:before {
  content: "\e05d";
}
.icon-video-cancel:before {
  content: "\e05e";
}
.icon-video-stop:before {
  content: "\e05f";
}
.icon-video-run:before {
  content: "\e060";
}
.icon-video-pause:before {
  content: "\e061";
}
.icon-video-remove:before {
  content: "\e062";
}
.icon-video-information:before {
  content: "\e063";
}
.icon-view:before {
  content: "\e064";
}
.icon-zoom-in:before {
  content: "\e065";
}
.icon-address-at:before {
  content: "\e066";
}
.icon-check-mark-circle:before {
  content: "\e067";
}
.icon-check-mark-circle-outline:before {
  content: "\e068";
}
.icon-circle-filled:before {
  content: "\e069";
}
.icon-circle-filled-outline:before {
  content: "\e06a";
}
.icon-close-circle:before {
  content: "\e06b";
}
.icon-close-circle-outline:before {
  content: "\e06c";
}
.icon-clock-time:before {
  content: "\e06d";
}
.icon-clock-outline:before {
  content: "\e06e";
}
.icon-clock-time-outline:before {
  content: "\e06f";
}
.icon-call:before {
  content: "\e070";
}
.icon-folder-open-2:before {
  content: "\e071";
}
.icon-gear-setting:before {
  content: "\e072";
}
.icon-github:before {
  content: "\e073";
}
.icon-googleplus:before {
  content: "\e074";
}
.icon-headphone:before {
  content: "\e075";
}
.icon-forward:before {
  content: "\e076";
}
.icon-hand-like:before {
  content: "\e077";
}
.icon-hand-unlike:before {
  content: "\e078";
}
.icon-home:before {
  content: "\e079";
}
.icon-keypad-outline:before {
  content: "\e07a";
}
.icon-keypad-2:before {
  content: "\e07b";
}
.icon-linkedin-1:before {
  content: "\e07c";
}
.icon-loading-2:before {
  content: "\e07d";
}
.icon-loading-3:before {
  content: "\e07e";
}
.icon-location-1:before {
  content: "\e07f";
}
.icon-loading-4:before {
  content: "\e080";
}
.icon-letter-mail:before {
  content: "\e081";
}
.icon-laptop:before {
  content: "\e082";
}
.icon-lightbulb-2:before {
  content: "\e083";
}
.icon-lightbulb-outline:before {
  content: "\e084";
}
.icon-lock-big:before {
  content: "\e085";
}
.icon-mail-send:before {
  content: "\e086";
}
.icon-message-talk:before {
  content: "\e087";
}
.icon-mic-1:before {
  content: "\e088";
}
.icon-mic-3:before {
  content: "\e089";
}
.icon-mic-off:before {
  content: "\e08a";
}
.icon-mic-5:before {
  content: "\e08b";
}
.icon-mic-outline:before {
  content: "\e08c";
}
.icon-mixer-2:before {
  content: "\e08d";
}
.icon-more-option:before {
  content: "\e08e";
}
.icon-navicon-round:before {
  content: "\e08f";
}
.icon-photo-picture:before {
  content: "\e090";
}
.icon-photo-image:before {
  content: "\e091";
}
.icon-photos-pictures:before {
  content: "\e092";
}
.icon-play-2:before {
  content: "\e093";
}
.icon-plus-add-2:before {
  content: "\e094";
}
.icon-pause-2:before {
  content: "\e095";
}
.icon-print-2:before {
  content: "\e096";
}
.icon-print:before {
  content: "\e097";
}
.icon-power-off:before {
  content: "\e098";
}
.icon-print-1:before {
  content: "\e099";
}
.icon-question:before {
  content: "\e09a";
}
.icon-question-circle:before {
  content: "\e09b";
}
.icon-quote:before {
  content: "\e09c";
}
.icon-remove-delete:before {
  content: "\e09d";
}
.icon-remove-delete-circle:before {
  content: "\e09e";
}
.icon-search-2:before {
  content: "\e09f";
}
.icon-search-1:before {
  content: "\e0a0";
}
.icon-search-3:before {
  content: "\e0a1";
}
.icon-star-2:before {
  content: "\e0a2";
}
.icon-star-outline:before {
  content: "\e0a3";
}
.icon-storage:before {
  content: "\e0a4";
}
.icon-talk-chat-bubble:before {
  content: "\e0a5";
}
.icon-tag-round:before {
  content: "\e0a6";
}
.icon-tags-round:before {
  content: "\e0a7";
}
.icon-twitter:before {
  content: "\e0a8";
}
.icon-twitter-outline:before {
  content: "\e0a9";
}
.icon-tumblr:before {
  content: "\e0aa";
}
.icon-videocamera:before {
  content: "\e0ab";
}
.icon-video-camera-1:before {
  content: "\e0ac";
}
.icon-user-circle:before {
  content: "\e0ad";
}
.icon-youtube-play:before {
  content: "\e0ae";
}
.icon-volume-speaker:before {
  content: "\e0af";
}
.icon-volume-mute:before {
  content: "\e0b0";
}
.icon-waterdrop:before {
  content: "\e0b1";
}
.icon-call-old-telephone:before {
  content: "\e0b2";
}
.icon-camera-1-1:before {
  content: "\e0b3";
}
.icon-bubbles-talk-1:before {
  content: "\e0b4";
}
.icon-content-41:before {
  content: "\e0b5";
}
.icon-content-43:before {
  content: "\e0b6";
}
.icon-content-42:before {
  content: "\e0b7";
}
.icon-facebook-alt-1:before {
  content: "\e0b8";
}
.icon-happy-smiley-very:before {
  content: "\e0b9";
}
.icon-happy-smiley:before {
  content: "\e0ba";
}
.icon-movie-play-1:before {
  content: "\e0bb";
}
.icon-monitor-screen-1:before {
  content: "\e0bc";
}
.icon-twitter-alt:before {
  content: "\e0bd";
}
.icon-twitter-1:before {
  content: "\e0be";
}
.icon-omg-smiley:before {
  content: "\e0bf";
}
.icon-wallet-money:before {
  content: "\e0c0";
}
.icon-email-envelope:before {
  content: "\e0c1";
}
.icon-ellipsis-2:before {
  content: "\e0c2";
}
.icon-ellipsis:before {
  content: "\e0c3";
}
.icon-eye-slash-close:before {
  content: "\e0c4";
}
.icon-flickr:before {
  content: "\e0c5";
}
.icon-folder3:before {
  content: "\e0c6";
}
.icon-globe-world:before {
  content: "\e0c7";
}
.icon-heart-2:before {
  content: "\e0c8";
}
.icon-heart-empty:before {
  content: "\e0c9";
}
.icon-hand-down:before {
  content: "\e0ca";
}
.icon-hand-up:before {
  content: "\e0cb";
}
.icon-group:before {
  content: "\e0cc";
}
.icon-facebook-square:before {
  content: "\e0cd";
}
.icon-eye-2:before {
  content: "\e0ce";
}
.icon-file-text-1:before {
  content: "\e0cf";
}
.icon-file-document:before {
  content: "\e0d0";
}
.icon-exclamation-triangle:before {
  content: "\e0d1";
}
.icon-exclamation-circle:before {
  content: "\e0d2";
}
.icon-arrow-right-2:before {
  content: "\e0d3";
}
.icon-arrow-left-2:before {
  content: "\e0d4";
}
.icon-arrow-right-3:before {
  content: "\e0d5";
}
.icon-arrow-left-3:before {
  content: "\e0d6";
}
.icon-like:before {
  content: "\e0d7";
}
.icon-like-filled:before {
  content: "\e0d8";
}
.icon-linkedin-square:before {
  content: "\e0d9";
}
.icon-list:before {
  content: "\e0da";
}
.icon-pause:before {
  content: "\e0db";
}
.icon-play:before {
  content: "\e0dc";
}
.icon-paper-clip:before {
  content: "\e0dd";
}
.icon-quote-left:before {
  content: "\e0de";
}
.icon-quote-right:before {
  content: "\e0df";
}
.icon-square:before {
  content: "\e0e0";
}
.icon-square-line:before {
  content: "\e0e1";
}
.icon-share-square:before {
  content: "\e0e2";
}
.icon-shopping-cart:before {
  content: "\e0e3";
}
.icon-smile:before {
  content: "\e0e4";
}
.icon-stop:before {
  content: "\e0e5";
}
.icon-step-backward:before {
  content: "\e0e6";
}
.icon-step-forward:before {
  content: "\e0e7";
}
.icon-star-two:before {
  content: "\e0e8";
}
.icon-star-half-1:before {
  content: "\e0e9";
}
.icon-star-half-2:before {
  content: "\e0ea";
}
.icon-star-3:before {
  content: "\e0eb";
}
.icon-thumbnails:before {
  content: "\e0ec";
}
.icon-twitter-2:before {
  content: "\e0ed";
}
.icon-tumblr-square:before {
  content: "\e0ee";
}
.icon-video-camera-2:before {
  content: "\e0ef";
}
.icon-undo:before {
  content: "\e0f0";
}
.icon-zoom-in-1:before {
  content: "\e0f1";
}
.icon-zoom-out:before {
  content: "\e0f2";
}
.icon-user-1:before {
  content: "\e0f3";
}
.icon-unlock-2:before {
  content: "\e0f4";
}
.icon-unlock-1:before {
  content: "\e0f5";
}
.icon-mic-2:before {
  content: "\e0f6";
}
.icon-mic-no:before {
  content: "\e0f7";
}
.icon-arrows-ccw:before {
  content: "\e0f8";
}
.icon-bell:before {
  content: "\e0f9";
}
.icon-camera-3:before {
  content: "\e0fa";
}
.icon-camera-streamline-video:before {
  content: "\e0fb";
}
.icon-browser-streamline-window:before {
  content: "\e0fc";
}
.icon-bubble-comment-streamline-talk:before {
  content: "\e0fd";
}
.icon-music-speaker-streamline:before {
  content: "\e0fe";
}
.icon-receipt-shopping-streamline:before {
  content: "\e0ff";
}
